/* Default Styles */

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #ffffff;
  padding-bottom: 100px;
  max-width: 393px;
  margin: 0 auto;
}

body,
html {
  height: 100%;
}

p {
  font-size: 16px;
  color: #242424;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}

h3 {
  font-size: 22px;
  color: #242424;
  font-weight: normal;
  padding-bottom: 1rem;
}

h4 {
  font-size: 20px;
  color: #242424;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

li {
  padding-left: 2rem;
  list-style-type: disc;
}
ul {
  padding-left: 2rem;
}

span.bold {
  font-weight: bold;
}

span.underline {
  text-decoration: underline;
}

span.icon-color-blue {
  color: #0018ad;
}

span.size14 {
  font-size: 14px;
}

span.size22 {
  font-size: 22px;
}

span.color-grey {
  color: #7c7b7b;
}

/* HEADER */

#header {
  /* display: none; */
  position: sticky;
  z-index: 9999;
  top: 0;
  background: white;
  padding: 0.75rem 1.5rem;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerWrapper img {
  width: 10rem;
}

.icon-color-blue {
  color: #0018ad;
}

.icon-size-medium {
  font-size: 27px;
}

/* BOTTOM NAVIGATION */

#navigation {
  /* display: none; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 60px;
  padding: 2rem 4rem;
  background-color: #caebff;
  width: 100%;
  max-width: 393px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-item img {
  width: 27px;
}

span.BaHoPr {
  color: #0018ad;
  font-size: 12px;
  font-weight: 700;
}

/* SPLASH */

#splash {
  /* display: none; */
  background-image: url(../img/background.jpg);
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; */
}

.fullHeight {
  height: 100vh;
}

.backgroundImage {
  /* background-attachment: fixed; */
  background-size: cover;
  position: top;
}

.logo img {
  width: 12rem;
}

.logo {
  display: flex;
  justify-content: right;
  padding: 3rem 0 0 0;
}

.container {
  padding: 0 1.5rem 0 1.5rem;
}

.introText {
  padding: 2rem 0 0 0;
}

.container-splash {
  background-color: rgba(0, 0, 0, 0.28);
  border-radius: 25px;
  padding: 1.5rem;
  margin-top: 3rem;
}

.container-splash p {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 2.5rem;
}

.splash-btn1 {
  background-color: #0018ad;
  color: #ffffff;
  border: none;
  font-size: 18px;
  font-weight: 700;
  padding: 1rem 4rem;
  margin-top: 3rem;
  border-radius: 13px;
  width: 100%;
}

.splash-btn2 {
  background-color: #ffffff;
  color: #0018ad;
  border: none;
  font-size: 18px;
  font-weight: 700;
  padding: 1rem 3rem;
  margin-top: 2rem;
  border-radius: 13px;
  width: 100%;
}

/* LOG IN */

#logIn {
  /* display: none; */
  background-image: url(../img/background.jpg);
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; */
}

.headerLogIn img {
  width: 12rem;
}

.headerLogIn {
  display: flex;
  align-items: center;
  padding: 3rem 0 0 1rem;
  justify-content: space-between;
}

.icon-color-white {
  color: white;
}

.icon-size-small {
  font-size: 23px;
}

.icon-size-medium {
  font-size: 27px;
}

span.center {
  justify-content: center;
}

.welcome {
  padding-top: 8rem;
}

.container-logIn {
  background-color: rgba(255, 255, 255, 0.79);
  color: #ffffff;
  border-radius: 13px;
  padding: 2.5rem;
  margin-top: 7rem;
}

.container-logIn input {
  border: 1px solid #0018ad;
  padding: 0.7rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 100%;
}

.container-logIn p {
  text-align: right;
}

.dhaaSUN {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

span.icon-color-blue {
  color: #0018ad;
}

.password {
  position: relative;
}

.eyeIcon {
  position: absolute;
  top: 10px;
  right: 20px;
}

/* HOME */

#home {
  display: none;
  padding-bottom: 7rem;
}

#backgroundHome {
  background-image: url(../img/homescreen-hero.jpg);
  background-repeat: no-repeat;
  padding: 4rem 2rem 1.5rem 6rem;
}

#backgroundHome h2 {
  text-align: right;
}

.itemContainer {
  padding: 2.5rem 3rem 0 3rem;
}

.itemContainer img {
  width: 100%;
  border-radius: 15px;
}

.textContainer {
  padding-top: 0.5rem;
}

/* CONFIRMATION */

#confirmation {
  display: none;
}
#confirmation h3 {
  text-align: center;
  padding-top: 3rem;
}

.bookDet {
  padding-top: 1rem;
}

.details {
  font-size: 18px;
  padding-left: 2rem;
}

#confirmation img {
  padding: 2rem 0 3rem 0;
  width: 100%;
}

span.congrats {
  display: flex;
  font-size: 30px;
  justify-content: center;
  padding-bottom: 2rem;
}

.conText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.ybr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 5rem;
}

.reference {
  color: #535353;
}

.number {
  padding-left: 3px;
  color: #535353;
}

/* LISTINGS */

#bookNow {
  margin-top: 1.5rem;
}

.officeName {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.price {
  padding-top: 0.5rem;
}

.person {
  display: flex;
}

.h4pad {
  padding: 1.5rem 0 1rem 0;
}

.description {
  padding-bottom: 1.5rem;
}

.description2 {
  padding-bottom: 0rem;
}

.amCont {
  display: flex;
  flex-direction: row;
}

.amenities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.amenities i {
  padding-bottom: 0.85rem;
}
.amenitiesText {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.amenitiesText p {
  padding-bottom: 1rem;
}

.amenitiesText .amPad {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

/* DEDICATED DESK */

#dedicatedDesk img {
  width: 100%;
}

/* HAMBURGER */

#hamburger {
  display: none;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10000;
  transition: right 0.75s ease;
}

#hamburger.open {
  right: 0;
}

#hamburger.close {
  right: -100%;
}

.x-icon {
  padding: 1.5rem 1.5rem 3rem 0;
  display: flex;
  justify-content: flex-end;
}

.menuBtns {
  text-align: center;
}

.hamBtn {
  padding-bottom: 2rem;
}

/* ABOUT US */

#about {
  display: none;
  padding-top: 1rem;
}

#about p {
  padding-bottom: 2rem;
}

span.helping {
  padding-bottom: 30rem;
}

/* CONTACT */

#contact {
  display: none;
  padding-top: 1rem;
}

#contact p {
  padding-left: 0.5rem;
}

.cef {
  padding: 0.75rem 0 2rem 0.55rem;
  display: flex;
  align-items: center;
}

.flex-start {
  align-items: flex-start;
}

.map {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  align-items: center;
}

.iframe {
  width: 80%;
  height: 230px;
}
