/* Default */
* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body {
    background-color: white;
    padding-bottom: 100px;
    max-width: 393px;
    margin: 0 auto;
}


body,
html {
    height: 100%;
}
 .container{
    padding: 1rem;
 }
p {
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: #242424;
    padding-bottom: 2rem;
}

h3 {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-weight: normal;
    padding-bottom: 1rem;
}

li {
    padding-left: 2rem;
    list-style-type: disc;
}
ul {
    padding-left: 2rem;
}

/*header*/
.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
}
.headerWrapper img {
    width: 10rem;

}
.icon-color-blue {
    color: #0018AD;
}
.icon-size-medium {
    font-size: 27px;
}

span.helping {
    padding-bottom: 30rem;
}
span.bold {
    font-weight: bold;
}


/*bottom navigation*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 60px;
    padding: 0 5rem;
    background-color: #caebff;
    width: 100%;
    max-width: 393px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #878787;
    font-size: 0.8rem;
}

.nav-item img {
    width: 25px;
}